*{padding:0px}
.list tbody tr td input{vertical-align:middle;font-size:12px;border:1px #e7e7e7 solid;line-height:16px;width:auto;padding:2px;margin:6px 0px;border-radius:2px;color:#4f4f4f}
.ui-dialog-grid,ui-dialog-content{width:760px}
#purl2,#pname2{width:500px;color:#4f4f4f}
.ui-dialog-header{background:#0d4c76;color:#ffffff}
.ui-dialog-close{color:#ffffff}