body{background:url(/images/cosplay/cosbg.jpg) no-repeat top fixed;}
.cp_mid{width:1200px;margin:0 auto;overflow:hidden;}
.banner{background:#fde1dd url('/images/cosplay/banner2-01.jpg') no-repeat center;height:450px;}
.cos_menu{width:1200px;position:relative;margin:0 auto;z-index:9;}
.cp_nav{width:265px;height:360px;position:absolute;left:0;bottom:0;overflow:hidden;z-index:9;
border-left:1px solid #ddd;background-color:#fff;}
.cp_nav li{padding:8px 17px 0;}
.nav_warp{border-bottom:1px dotted rgb(224, 217, 217);}
.nav_warp dt a{font-weight:600;color:#ff6f9c;}
.nav_warp dd a{color:#666;white-space:nowrap;}
.nav_warp dd a:hover{color:#ff6f9c;}
.nav_warp dt{font-size:15px;}
.nav_warp dd{margin:4px 0;}

.cp_search{background:#f4f4f4;border:1px solid #e4e4e4;height:38px;margin-bottom:10px;}
.cp_search .s_title{font-weight:bold;font-size:14px;padding:8px 18px 0 168px;}
.cp_search span, .cp_search ul li{float:left;}
.cp_search .skin-box-bd{padding:6px 0;}
.cp_search .skin-box-bd li:last-child{padding:4px;}
.cp_search .keyword input{width:198px;padding:2px;}
.cp_search .submit{padding:0 8px;}
.cp_search .submit input{padding:2px;width:68px;}

/*焦点图*/
.container{width:100%;height:100%;}
.content{background:#ffffff;margin:0 auto;position:relative;width:220px;height:100px;}
.content li{position:absolute;top:0;left:0;display:none;}
.content span{position:absolute;left:47%;top:45%;}
.content .left,.content .right{position:absolute;top:0;z-index:11;}
.content .left{cursor:url(/images/cosplay/cur-left.cur.ico), auto;left:0;}
.content .right{right:0;cursor:url(images/cosplay/cur-right.cur.ico), auto;}

.arrival .arr_title{background:#20bec7;padding:6px;}
.arrival .arr_title span{color:white;margin-left:8px;font-size:16px;}
.arrival .arrival_r{margin-top:8px;float:right;}
.arrival .arrival_r ul li{float:left;padding:4px;background:#ff648c;width:77px;color:white;font-size:16px;text-align:center;margin:0 1px 8px 0;}
.cp_list{width:1200px;margin:0 auto 20px;overflow:hidden;}
.cosModule{width:100%;margin:25px auto 15px;overflow:hidden;}
.hotleft{width:auto;max-width:254px;max-height:600px;float:left;overflow:hidden;}
.hotleft a{width:254px;height:600px;display:block;overflow:hidden;}

.newproduct_box{margin:0 auto;padding:0px;}
.newproductleft_box{float:left;}
.newproductleft_box img{width:590px;height:500px}
.newproductright_box{float:right;}
.newproductright_box .right_top img{width:590px;height:239px;margin-bottom:17px}
.newproductright_box .right_down img{width:590px;height:239px}
.newproductright_box .right_down .right_down_left img{width:285px;height:239px;float:left}
.newproductright_box .right_down .right_down_right img{width:285px;height:239px;float:right}
/*.cl_r{float:right;width:938px;text-align:center;}*/

.cl_r {width:1200px;text-align:center;}
.cl_r ul li{width:235px;height:299px;margin:-1px -1px 0 0;position:relative;float:left;display:inline-block;border:1px solid #fff;}
.cl_r ul li:hover{z-index:2;zoom:1;border-color:#fb6e52;}
.cl_r ul li img{width:213px;height:228px;}
.cosplay_name{width:210px;height:38px;margin:0 auto;display:block;overflow:hidden;font-size:14px;text-align:left;text-overflow:ellipsis;}
.cosplay_price{width:210px;margin:0 auto;overflow:hidden;font-size:14px;text-align:left;color:red;}
.clear {clear:both;}

/*2015-06-30 list.tpl页面样式*/
.pagination {border-top:1px solid #DDDDDD;height:55px;line-height:55px;width:100%;padding-top:6px;clear:both;text-align:center;font-size:16px;}
.pagination li.number {padding:0 5px;}
.pagination li.on a {color:#fb6e52;font-weight:bold;}
.list_num li{display:inline}

/*2015-06-30 category.tpl页面样式*/
.colsplay_main{overflow:hidden;margin:0 auto;margin-bottom:68px;width:1200px;}
.cosplay_bannar {margin-bottom:10px;position:relative;overflow:hidden;}
.cosplay_bannar a.cosplay_left{position:absolute;cursor:pointer;background: url(/image/cosplay_bannar_left.jpg) no-repeat;width:45px;height:100px;left:300px;top:500px;opacity:0.2;}
.cosplay_bannar a.cosplay_left:hover{opacity:0.6;}
.cosplay_bannar a.cosplay_right{position:absolute;cursor:pointer;background:url(/image/cosplay_bannar_right.jpg) no-repeat;width:45px;height:100px;right:300px;top:500px;opacity:0.2;}
.cosplay_bannar a.cosplay_right:hover{opacity:0.6;}
.cosplay_breadcrumb{border:1px solid #e6e6e6;height:40px;line-height:40px;font-size:14px;padding-left:20px;font-weight:bolder;background:#ffffff;}
.cosplay_breadcrumb i {color:#076df2;font-size:18px;}
.cosplay_bannar .cosplay_meunu{width:1200px;position:relative;margin:0 auto;z-index:9;}
.cosplay_bannar .cosplay_meunu ul{width:280px;height:358px;position:absolute;left:0;bottom:0;overflow:hidden;z-index:9;
background:#fff;border:1px solid #ff5e87;}
.cosplay_bannar .cosplay_meunu ul li{width:100%;overflow:hidden;line-height:27px;}
.cosplay_bannar .cosplay_meunu ul li dt a{font-size:16px;color:#fb5276;padding-left:10px;}
.even_li {background:#fff1f4}
.cosplay_bannar .cosplay_meunu ul li dd a{font-size:12px;padding-left:2px;}
.cosplay_sort{border:1px solid #e6e6e6;border-top:none;background:#ffffff;height:40px;line-height:40px;padding-left:20px;font-size:14px;font-weight:bolder;}
.cosplay_category_product{width:1220px;height:auto;overflow:hidden;}
.cosplay_category_product .cosplay_product{float:left;width:220px;height:280px;border:1px solid #e6e6e6;margin:10px;}
.cosplay_category_product .cosplay_product img{width:220px;height:220px;}
.cosplay_category_product .cosplay_product .cosplay_price{width:200px;height:30px;margin-left:10px;display:inline-block;text-align:left;font-size:16px;color:#fd4e2e;line-height:30px;
overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cosplay_category_product .cosplay_product .cosplay_name{font-size:14px;height:20px;line-height:20px;overflow:hidden;margin-left:10px;display:inline-block;}